
    <ul class="nav justify-content-end items">
        <h1 class="header">SETTINGS</h1>
        <li class="nav-item">

         <div class="dropdown">
            <button class="btn btn-default dropdown-toggle flipInX" type="button" data-toggle="dropdown" data-hover="dropdown"  data-animations="flipInX fadeInLeft fadeInUp fadeInRight">
                    <i class="fa fa-file-o"></i> Manage Organizations & Users <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li></li><a routerLink='/doc'>Document Type</a>
              <li><a routerLink="/design">Designations</a></li>
              </ul>
              </div>

         </li>


         <div class="vertical">

        </div>

        <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-plus"></i>Create Project</a>
        </li>
        <div class="vertical">

        </div>

        <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Time Sheets</a>
        </li>
        <div class="vertical">

        </div>
        <li class="nav-item">
        <a class="nav-link " href="#"><i class="fa fa-edit" aria-hidden="true"></i>Edit Projects</a>
        </li>
        </ul>
        <div class="main-container container-fluid">
          <div class="pannel zoomIn">

          </div>

      </div>






